<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Home.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="hoverup">
        <a href="Index" class="display-4 dop btn btn-info btn-rounded waves-effect waves-light m-b-40">Список проектов</a>
        <div>
            <ul class="main-menu">
                <li>
                    <div class="profile"></div>
                    <ul class="sub-menu">
                        <li><a href="Enter">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="Cube">
        <div>
            @RenderBody()
        </div>
        <div class="Cube2">
            <h4>
                ©66BIT
            </h4>
        </div>
    </div>
</body>
</html>
