<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Home.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="hoverup">
        <a href="Index" class="display-4 dop btn btn-info btn-rounded waves-effect waves-light m-b-40">Главная страница</a>
        <div>
            <button class="profile" id="toggle-link"></button>
            <div class="main-menu" id="message">
                <ul class="dropdown-user">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-text">
                                <div class="photo"></div>
                                <h4><i class="photo1"></i>Kuznetsov Petya</h4>
                                <p class="text-muted"><i class="photo2"></i>dady@gmail.com</p>
                            </div>
                        </div>
                    </li>
                    <li class="hovercolor"><a href="#"><i class="hovers"></i> Account Setting</a></li>
                    <li class="hovercolor"><a href="Logout"><i class="hovers1"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div>
            @RenderBody()
        </div>
        <div class="Cube2">
            <h4 class="posi-cube">
                Вы можете связаться с нами по нашему <a href="https://t.me/joinchat/fEUQlUBTqekyNDc6" class="color">телеграмм каналу</a> 
            </h4>
            <a class="photoTel" href="https://t.me/joinchat/fEUQlUBTqekyNDc6">
            </a>
        </div>
    </div>
</body>
</html>


<script src="~/js/Home.js"></script>

