<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/Home.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper">
        <header class="page-header">
            <div class="content-wrapper">
                <div class="header-content">
                    <div class="title-wrapper">
                        <a href="Index" class="header-title">Friendly team project</a>
                    </div>
                    <div class="header-profile">
                        <div class="user-icon-wrap">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <nav class="header-menu">
                                <ul class="header-list">
                                    <li>
                                        <div class="user-info-space">
                                            <div class="user-info-wrap">
                                                <div class="user-info">Kuznetsov Petya</div>
                                            </div>
                                            <div class="user-info-wrap">
                                                <div class="user-info">dady@gmail.com</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="menu-settings">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                            <a class="header-link">Account Setting</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="menu-settings">
                                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                                            <a href="Logout" class="header-link">Logout</a>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="page-main">
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </main>
        <footer class="page-footer">
            <div class="content-wrapper">
                <div class="contacts">
                    <div class="tg-contact">
                        <div>
                            Вы можете написать в наш
                            <a href="https://t.me/joinchat/fEUQlUBTqekyNDc6" class="contacts-link">Телеграмм канал</a>
                            <a href="https://t.me/joinchat/fEUQlUBTqekyNDc6" class=".logo-tg-link"></a>
                        </div>
                        <div class="logo"></div>
                    </div>
                    <div class="our-contacts">
                        <div class="person-contact">Frontend разработчик - <a href="https://t.me/M0lodoy1" id="Dony">Данила Кунцевич <i class="logo-tg-link"></i></a></div>
                        <div class="person-contact">Backend разработчик - <a href="https://t.me/inclusion_star" id="Eldar">Эльдар Бадалбейли <i class="logo-tg-link"></i></a></div>
                        <div class="person-contact">Backend разработчик - <a href="https://t.me/JaroslaUUU" id="Yarik">Ярослав Комаров <i class="logo-tg-link"></i></a></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
