body, html {
    background-color: #dedddd;
}
.hoverup {
    position: fixed;
    top: 0px;
    background-color: #1e88e5;
    height: 65px;
    width: 100%;
    left: 0px;
    z-index: 2;
    box-shadow:0 0 25px #1e88e5;
}
.display-4 {
    position: fixed;
    top: 5px;
    left: 100px;
    font-size: 25px;
}
.profile {
    position: fixed;
    background: url("../img/7.jpg") no-repeat center center #fff;
    background-size: 50px;
    border: 1px solid white;
    right: 30px;
    width: 50px;
    height: 50px;
    top: 10px;
    border-radius: 50px;
}
    .profile:hover {
        cursor: pointer;
    }
.posi-cube {
    position:fixed;
    top:883px;
    height:100px;
}
.Cube2 {
    position: fixed;
    border: 3px solid #3944c6;
    top: 96vh;
    width: 100%;
    padding-left: 30px;
    background-color: white;
    user-select: none;
    height:50px;
    left:-3px;
}
.photoTel {
    position: fixed;
    background: url("../img/telegramm.png") no-repeat center center #fff;
    background-size: 70px;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border-radius: 30px;
    top: 905px;
    left: 510px;
}
.main-menu {
    position: fixed;
    right: 20px;
    top: 65px;
    background: white;
    width: 200px;
    border-radius: 10px;
    border: 2px solid gray;
    display: none;
}
.photo {
    background: url("../img/7.jpg") no-repeat center center #fff;
    background-size: 100px;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-radius: 30px;
}
.hovers {
    background: url("../img/icons8-пряничный-человечек-64.png") no-repeat center center #fff;
    background-size: 30px;
    width: 10px;
    height: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left:10px;
}
.hovers1 {
    background: url("../img/icons8-выключение-системы-64.png") no-repeat center center #fff;
    background-size: 35px;
    padding: 5px 15px;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: 10px;
}
li {
    list-style-type: none;
}
.hovercolor:hover {
    background: #dedddd;
    border-radius:10px;
}
.hovercolor {
    padding-top:5px;
    width: 200px;
    margin-bottom:5px;
    margin-left: -40px;
    height: 30px;
}
.photo1 {
    background: url("../img/icons8-профиль-кошки-64.png") no-repeat center center #fff;
    background-size: 35px;
    padding: 5px 15px;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: -30px;
}
.photo2 {
    background: url("../img/icons8-электронная-почта-64.png") no-repeat center center #fff;
    background-size: 35px;
    padding: 5px 15px;
    border-radius: 50px;
    margin-right: 5px;
    margin-left:-30px;
}
.color{
    color:#1c59a4;
}
li a{
    color:black;
}