body, html {
    width: 100%;
    margin-bottom: 0px;
    background-color: #eef5f9;
}
.hoverup {
    position: fixed;
    top: 0px;
    border: 5px solid #ffffff;
    background-color: #1e88e5;
    height: 65px;
    width: 99.5%;
    left: 0px;
    z-index: 2;
}
.card1 {
    border-radius: 5px;
    padding-left:10px;
    background-color:white;
    width: 700px;
    height: 300px;
    padding-top: 10px;
    font-size: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.nameProject {
    outline: 1px solid #00bfff;
    padding: 0px 20px;
    box-sizing: border-box;
    display: inline-block;
    margin-left:40%;
}

.line {
    position:relative;
    border: 2px solid #00bfff;
    height:0px;
    top:50px;
    left:-10px;
    width:706px;
}
.type2 {
    margin-left:400px;
    margin-top:-170px;
}
.form {
    position: relative;
    left: 340px;
    top: 70px;
    z-index: 10;
    font-size:15px;
    color:white;
}
a {
    text-decoration:none;
}

.AddProject {
    border-radius: 5px;
    margin-top: -1250px;
    margin-left: 1000px;
}
.fix {
    position: fixed;
}
.baton{
    text-align:center;
}
.login {
    width: 200px;
}
.batton {
    display: none;
    background-color: white;
    position:fixed;
    top: 230px;
    left:1430px;
    height: 560px;
    width: 450px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form12 {
    position: fixed;
    margin-top: 20px;
    font-size: 30px;
    left: 1500px;
    top:150px;
    color:white;
}
.Customer {
    padding:0px;
}
input[type="text"], select, input[type="date"] {
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
.status {
    text-align: center;
}
.pos {
    border: 3px solid #808080;
    position: relative;
    margin: 10px 60px;
    text-align: center;
}
.date{
    text-align:left;
    margin-left:20px;
}
.CustomerCard {
    border: 3px solid #808080;
    padding: 0px;
    position: relative;
    margin: 10px 60px;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.btn{
    z-index:0;
    color:white;
}
.close {
    border: 3px solid #000000;
    position: absolute;
    background: url("/img/danger.svg") no-repeat center center #fff;
    background-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
    .close:hover {
        cursor: pointer;
    }
.form22 {
    font-size:15px;
    text-align:center;
    position:relative;
    left:150px;
}

.did input {
    position: fixed;
    left: 1500px;
    width: 300px;
    height: 42px;
    border: 2px solid #1e88e5;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
    box-sizing: border-box;
}

.did button {
    position: fixed;
    left: 1790px;
    top: 90px;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #1e88e5;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background: url("https://image.flaticon.com/icons/svg/49/49116.svg") no-repeat center center #1e88e5;
}

    .did button:before {
        font-family: FontAwesome;
        font-size: 16px;
        color: #F9F0DA;
    }
.did {
    position: fixed;
    top:80px;
    right:120px;
}

.login:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #4d90f0;
    border:0px;
}

    .login:focus::-moz-placeholder {
        color: transparent;
    }

    .login:focus::-webkit-input-placeholder {
        color: transparent;
    }
.fixModule {
    position: absolute;
    left: 850px;
    top: 40px;
    overflow-y: scroll;
    height: 90vh;
    width: 540px;
    padding-left: 30px;
    margin-top: 40px;
}

.formMOdule {
    position: relative;
    top: -10px;
}

.contentMOdule {
    padding-top: 20px;
    position: relative;
    height: 150px;
    top: -50px;
    display: none;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

.insidecard {
    position: relative;
    border: 1px solid black;
    top: -10px;
    height: 30px;
    width: 450px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: white;
    padding-top: 10px;
}

.cardModule {
    height: 150px;
    width: 500px;
}

.lineModule {
    width: 506px;
    position: relative;
    top: -70px;
}

.nameModule {
    position: relative;
    top: -25px;
}

.cardFix {
    padding-left:80px;
    overflow-y: scroll;
    height: 89vh;
    width:760px;
    margin-top:80px;
}