.card {
    height: 130px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.add {
    margin-left: 1200px;
    margin-top: 130px;
}

.size {
    height: 10px;
    position: relative;
    top: -10px;
}

.line {
    top: -130px;
}

.fixe {
    position: fixed;
    top: 800px;
    left: 1050px;
}

.form {
    top: -100px;
    left: 400px;
}

.visit {
    position: fixed;
    left: 1000px;
    top: 150px;
    background-color: white;
    width: 550px;
    height: 480px;
    border-radius: 20px;
}

.zakaz {
    text-align: center;
    width: 240px;
    margin-left: 100px;
}

.type {
    margin-left: 60px;
    border-bottom: 2px solid #0323ba;
    width: 450px;
    white-space: nowrap;
}

.Ramka {
    margin-left: 60px;
    border: 2px solid #000000;
    padding-bottom: 5px;
    width: 275px;
}

select {
    font-size: 17px;
}

a {
    color: white;
}

.tests {
    position: relative;
    top: -200px;
    left: 600px;
    height: 30px;
    width: 30px;
    background: url("/img/images.png") no-repeat center center #fff;
    background-size: 30px;
    border: 0px;
}

.content {
    display: none;
    overflow-y: scroll;
    height: 250px;
    position: relative;
    top: -100px;
    margin-top: 50px;
}

.card2 {
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    height: 100px;
    width: 600px;
    margin-left: 10px;
    border: 2px solid black;
}

.timeTask {
    position: relative;
    left: 400px;
    top: -50px;
    width: 100px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

.btn {
    border: 1px solid white;
}

.sub-menu {
    z-index: 0;
}

.fixfix {
    position: relative;
    top: 70px;
    padding-top: 80px;
    width: 1000px;
}

.card3 {
    display: none;
    position: relative;
    left: 0px;
    height: 110px;
}

.nameInput {
    font-size: 15px;
}

.nameDate {
    height: 10px;
}

.nameTime {
}

.get {
    position: relative;
    top: -95px;
    left: 450px;
    height: 100px;
}

input[type="text"], input[type="date"] {
    font-size: 15px;
}

input[class="login"] {
    font-size: 20px;
}

.addModule {
    display: none;
    top: 650px;
    right: 775px;
    background-color: white;
    position: fixed;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.baton {
    margin-top: 5px;
}

.getModule {
    position: fixed;
    right: 860px;
    top: 750px;
}

.card1 {
    margin-left: 100px;
    height: 160px;
}

.nameofProject {
    margin-top: 80px;
    margin-left: 1px;
}

.redact {
    position: fixed;
    top: 150px;
    left: 1600px;
    width: 200px;
}

.redact1 {
    display: none;
    position: fixed;
    top: 150px;
    left: 1600px;
    width: 200px;
}

#redact1 {
    height: 50px;
    margin-top: 0px;
    width: 450px;
    font-size: 30px;
    background-color: white;
}

.deleteTask {
    margin-left: 450px;
    margin-top: -170px;
}

.deleteProject {
    position: fixed;
    top: 190px;
    left: 1625px;
}

.deleteModule {
    position: relative;
    top: -105px;
    left: 415px;
}

.confirm-space {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.7);
    width: 100%;
    height: 100%;
    z-index: 3;
}

.confirm-message {
    position: fixed;
    border-radius: 5px;
    top: 43%;
    left: 35%;
    width: 30%;
    height: 14%;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 4;
}

.warning-title {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 12%;
}

.confirm-position-ok {
    margin-top: 7%;
    margin-left: 70%;
    float: left;
}

.confirm-position-cencel {
    margin-top: 7%;
    margin-left: 20px;
    float: left;
}
