.card {
    height: 130px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.add {
    margin-left: 1200px;
    margin-top: 130px;
}

.size {
    height: 10px;
    position: relative;
    top: -10px;
    pointer-events: none;
}

.line {
    top: -130px;
}

.fixe {
    position: fixed;
    top: 800px;
    left: 1050px;
}

.form {
    top: -100px;
    left: 370px;
}

.visit {
    position: fixed;
    left: 1000px;
    top: 150px;
    background-color: white;
    width: 550px;
    height: 480px;
    border-radius: 20px;
}

.zakaz {
    text-align: center;
    width: 240px;
    margin-left: 90px;
}

.type {
    margin-left: 60px;
    border-bottom: 2px solid #0323ba;
    width: 450px;
    white-space: nowrap;
}

.Ramka {
    margin-left: 60px;
    border: 2px solid #000000;
    padding-bottom: 5px;
    width: 275px;
}

select {
    font-size: 17px;
}

a {
    color: white;
}

.tests {
    position: relative;
    top: -250px; 
    left: 650px;
    height: 30px;
    width: 30px;
    background: url("/img/images.png") no-repeat center center #fff;
    background-size: 30px;
    border: 0px;
}

.content {
    position: relative;
    display: none;
    overflow-y: scroll;
    height: 250px;
    border-radius:10px;
    top:-150px !important;
}

.card2 {
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    height: 115px !important;
    width: 610px;
    margin-left: 20px;
    margin-right:20px;
    border: 2px solid rgba(0,0,0,0.25);
}

.timeTask {
    position: relative;
    left: 400px;
    top: -50px;
    width: 100px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

.sub-menu {
    z-index: 0;
}

.fixfix {
    position: relative;
    top: 70px;
    padding-top: 80px;
    width: 1000px;
}

.card3 {
    display: none;
    position: relative;
    top:-100px;
    height: 110px;
}

.nameInput {
    font-size: 15px;
}

.nameDate {
    height: 10px;
}

.get {
    position: relative;
    top: -65px;
    left: 450px;
}

input[type="text"], input[type="date"] {
    font-size: 15px;
}

input[class="login"] {
    font-size: 20px;
}

.addModule {
    display: none;
    top: 650px;
    right: 565px;
    background-color: white;
    position: fixed;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.baton {
    margin-top: 5px;
}

.getModule {
    position: fixed;
    right: 650px;
    top: 750px;
}

.card1 {
    margin-left: 100px;
    height: 140px;
    z-index:0;
}

.nameofProject {
    margin-top: 70px;
    position: fixed;
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 99.9%;
    color: #1e88e5;
    background-color: white;
    z-index: 0;
}

.redact {
    position: fixed;
    top: 150px;
    left: 1600px;
    width: 200px;
    font-size:15px;
}

.redact1 {
    display: none;
    position: fixed;
    top: 150px;
    left: 1600px;
    width: 200px;
    font-size: 15px;
}

#redact1 {
    height: 50px;
    margin-top: 0px;
    width: 450px;
    font-size: 30px;
    background-color: white;
    padding: 0px;
    border: 1px solid black;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.deleteProject {
    position: fixed;
    top: 190px;
    left: 1625px;
}

.deleteModule {
    position: relative;
    top: -29px;
    left: 540px;
}
#redact6 {
    display:inline-block;
    width: 300px;
    margin-left:-36px;
}

.three {
    background: #FCF2E5;
    text-align: center;
    font-family: 'Merriweather', serif;
    margin-top: 65px;
    position: fixed;
    color: #FCF2E5;
    background: #eef5f9;
    font-size: 2.5em;
    font-weight: normal;
    padding: 10px 40px;
    display: inline-block;
    line-height: 1;
    width: 100%;
    height: 50px;
    z-index:2;
}

    .three:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        top: 65px;
        background: #1e88e5;
    }

    .three:after {
        content: "";
        position: absolute;
        height: 0;
        width: 80%;
        border-top: 10px solid #1e88e5;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        left: 50%;
        transform: translateX(-50%);
        bottom: -9px;
    }

@media (max-width: 500px) {
    .three{
        font-size: 1.8em;
    }
}

@media (max-width: 400px) {
    .three{
        font-size: 1.5em;
        padding: 10px 30px;
    }
}
.CustomerCard{
    margin-left:90px;
}
.Vso{
    margin-left:30px;
}
.deleteTask{
    margin-left:450px;
    margin-top:-170px;
}

.chartjs-wrap {
    margin-bottom: 100px;
    width: 500px;
    height: 500px;
    padding-bottom: 100px;
    padding-left: 100px;
}