@page
@model RazorProject.Pages.EnterModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/Enter.css" rel="stylesheet">
</head>

<body>
    <section id="wrapper" class="login-register login-sidebar">
        <div class="login-box">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" method="post" asp-page="login">
                    <div class="enter">
                        <h1>Вход</h1>
                    </div>
                    <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Пароль" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> Запомнить меня </label>
                            </div>
                            <a href="Index" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Забыли пароль?</a>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Войти</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Нет аккаунта? <a href="Register" class="text-primary m-l-5"><b>Зарегистрироваться</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>
