@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Home";
}
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/colors/blue.css" id="theme" rel="stylesheet" />
<link href="~/css/index.css" rel="stylesheet" />
<div class="text-center">
    <div class="cardFix">
        @{
            foreach (var pro in Model.Projecte)
            {
                <div class="card1 card">
                    <div class="nameProject"><a href="mod" class="size">@pro.Name</a></div>
                    <div class="type"><p>Тип : @pro.Type</p></div>
                    <div class="type"><p>Заказчик : OПГ Газпром</p></div>
                    <div class="type"><p>Стоимость часа :@pro.Cost</p></div>
                    <div class="type"><p>28.01.2020 - 15.10.2021</p></div>
                    <div class="type2"><p>Статус : @pro.Status</p></div>
                    <div class="form btn btn-info btn-rounded waves-effect waves-light m-b-40"><a href="">Сформировать проект на базе текущего</a></div>
                    <div class="line"></div>
                </div>
            }
        }
    </div>
    <div class="did">
        <form>
            <input type="text" placeholder="Искать здесь...">
            <button type="submit"></button>
        </form>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="AddProject fix">
        <div class="add">
            <button class="form12 btn btn-info btn-rounded waves-effect waves-light m-b-40" id="myBtn">+ Добавить проект</button>
        </div>
        <div id="myModal" class="batton card">
            <form metod="POST">
                <button class="close btn waves-effect waves-light m-b-40"></button>
                <div class="baton"><input type="text" class="login " placeholder="Название проекта" asp-for="Person.Name" required /></div>
                <div class="baton"><input type="text" class="login" placeholder="Тип проекта" asp-for="Person.Type" required /></div>
                <div class="baton">
                    <p class="status">Выберите статус проекта :</p>
                    <select name="theme" asp-for="Person.Status">
                        <option value="1">Планирование</option>
                        <option value="2">Пред.Разработка</option>
                        <option value="3">В разработке</option>
                        <option value="4">Завершен</option>
                    </select>
                </div>
                <p class="status">Выберите дату проекта :</p>
                <div class="baton date"><input type="date" name="calendar1"> - <input type="date" name="calendar2" asp-for="Person.Date"></div>
                <div class="Customer"><p class="pos">Заказчик</p></div>
                <div class=" CustomerCard">
                    <div class="baton"><input type="text" class="login" placeholder="ФИО" required /></div>
                    <div class="baton"><input type="text" class="login" placeholder="email" required /></div>
                    <div class="baton"><input type="text" class="login" placeholder="Телефон" required /></div>
                </div>
                <input type="submit" class="form22 btn btn-info btn-rounded waves-effect waves-light m-b-40" value="Создать проект">
            </form>
        </div>
    </div>
    <div class="fixModule">
        @{
            for (int i = 0; i < 7; i++)
            {
                <div class="card card1 cardModule" id="card-@i">
                    <div class="nameModule"><p class="size">Название модуля(Название проекта)</p></div>
                    <div class="timeModule"><p>Количество часов : 18</p></div>
                    <div class="line lineModule" id="line-@i"></div>
                    <button class="tel-@i module formMOdule btn btn-info btn-rounded waves-effect waves-light m-b-40">Проекты по схожему модулю</button>
                    <div class="card-@i contentMOdule" id="tel-@i">
                        @for (int j = 0; j < 7; j++)
                        {
                            <div class="card insidecard">
                                <div class="nameModule"><p class="">Название модуля(Название проекта)</p></div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
<script src="~/js/index.js"></script>
<script src="~/js/Module.js"></script>
<style>
    .fixed {
        position: fixed;
    }

    .form22 {
        color: white;
    }

    .cardFix {
        position: relative;
        left: -150px;
    }
</style>
