@page
@model RazorProject.Pages.Index2Model
@{
    Layout = "_Home";
}
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/colors/blue.css" id="theme" rel="stylesheet">
<link href="~/css/index2.css" rel="stylesheet">
<div class="text-center">
    <div class="hoverup">
        <ul class="main-menu">
            <li>
                <a href="#services" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">SW</a>
                <ul class="sub-menu">
                    <li><a href="Index">Список проектов</a></li>
                    <li><a href="Index3">Справочник по модулям</a></li>
                </ul>
            </li>
        </ul>
        <h3 class="display-4">Список проектов</h3>
        <div>
            <a href="prifle" class="profile"></a>
        </div>
    </div>
    @{
        for (int i = 0; i < 4; i++)
        {
            <div class="card1 card">
                <div class="nameProject"><p class="size">Название модуля</p></div>
                <div class="type"><p>Количество часов : 18</p></div>
                <div class="form btn btn-info btn-rounded waves-effect waves-light m-b-40"><a href="">Добавить задачу</a></div>
                <div class="line"></div>
            </div>
        }
    }
    <div class="add">
        <button class="form12 btn btn-info btn-rounded waves-effect waves-light m-b-40" id="myBtn">+ Добавить Модуль</button>
    </div>
</div>
